.card__customer {
  background-color: #fff;
  box-shadow: 0 40px 52px -22px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 40px 88px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: color 0.2s ease-in;
  .card-customer__icon {
    fill: $accent;
    }
  &:hover {
    background-color: $accent;
    color: #fff;
    transition: background-color 0.2s ease-in;
    .card-customer__icon{fill: #fff; margin-bottom: 15px;
      transition: fill 0.2s ease-in;}
      .card-costumer__text,.card-customer__title{color: #fff;
        transition: color 0.2s ease-in;}
    .button {
      background-color: #fff;
      transition: background-color 0.2s ease-in;
      color: $accent-hover;
    }
  }
  
}
.card-costumer__text {
  margin-bottom: 25px;
  color: black;
 
}
.card-customer__title {
  color: black;

}
