.footer__info {padding-top:86px;
    padding-bottom:82px;
    max-width: 300px;
}
.footer__row{display: flex;
justify-content: space-between;}
.footer__nav{display: flex;
    column-gap: 85px;
    margin-top: 75px;
    margin-right: 100px;
   
}

.icon__logo {margin-bottom: 15px;
    margin-left: -5px;
}

.footer__info-text {margin-bottom: 40px;
}
.footer__socials{
    :hover img{opacity: 0.8;}
display: flex;
column-gap: 30px;
align-items:center;

}
.footer__icon{
&:hover{opacity: 0.8;}}
.footer-nav-block__title{font-size: 21px;font-weight: 700;
margin-bottom: 18px;}
.footer-nav__list{ font-size:14px; 
    li{margin-bottom: 13px;}
    a{color: black;}
}